.env
# Python virtual environment
.venv
venv
/venv
.env
env
/env


# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd



# IDE files
.idea/
.vscode/


#migrations
/air_app/migrations/
air_app/migrations/
migrations


/mobile_app/migrations/
mobile_app/migrations/
migrations

/payments/migrations/
payments/migrations/
migrations


# database
# db.sqlite3
# /db.sqlite3
# *.sqlite3
